[ req ]
default_bits        = 3072
default_md          = sha256
string_mask         = utf8only
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = US
stateOrProvinceName         = State or Province Name
localityName                = Locality Name
organizationName            = Organization Name
commonName                  = Common Name

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
