node_modules/
opt/openresty/
opt/php/
opt/perl/
opt/lua-5.1.2/
var/
*-e
tmp/
vendor/
Dockerfile
.git/
.idea/
.gitignore
.vscode/
supervisord.log
supervisord.pid
*error.log

bin/*
!bin/install.sh
!bin/compile-modules.pl
!bin/db-init.pl
!bin/compose-sites.pl
!bin/run_tests.sh

etc/*.plist
etc/nginx/server/*.conf
etc/nginx/upstream/*.conf
etc/nginx/nginx.dist.conf
etc/nginx/nginx.conf
etc/nginx/*-e