node_modules/
opt/openresty/
opt/php/
var/
*-e
tmp/
vendor/
Dockerfile
.git/
.idea/
.gitignore
supervisord.log
supervisord.pid
*error.log

bin/*
!bin/install.sh
!bin/run_tests.sh

etc/*.plist
etc/*.conf

etc/init.d

etc/nginx/nginx.dist.conf
etc/nginx/nginx.conf
etc/nginx/*-e

etc/php/*

web/*