node_modules/
opt/openresty/
opt/php/
opt/perl/
opt/lua-5.1.2/
var/
*-e
tmp/
vendor/
Dockerfile
.git/
.idea/
.gitignore
.vscode/
supervisord.log
supervisord.pid
*error.log
*.crt
*.key

bin/*
!bin/install.sh
!bin/compile-modules.pl
!bin/db-init.pl
!bin/compose-sites.pl
!bin/run_tests.sh

etc/*.plist
etc/nginx/server/*.conf
etc/nginx/upstream/*.conf
etc/nginx/nginx.dist.conf
etc/nginx/nginx.conf
etc/nginx/ssl-params.conf
etc/nginx/force-ssl.conf
etc/nginx/*-e
etc/ssl/certs/*.crt
etc/ssl/certs/*.pem
etc/ssl/private/*.key
etc/ssl/.rnd
etc/ssl/.oid
etc/ssl/openssl.cnf
etc/ssl/CA/*