# Created by .ignore support plugin (hsz.mobi)
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#vscode junk
.history/*
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# ds stores
*.DS_Store

# intellij
*.idea/

# certificates and private keys
*.crt
*.key

# bin
*-e
/bin/*
!bin/db-init.pl
!bin/create-admin.pl
!bin/compose-sites.pl
!bin/compile-modules.pl
!bin/generate-diffie-hellman.pl
!bin/wp.dist
!bin/install-amazon.sh
!bin/install-osx.sh
!bin/install-ubuntu.sh
!bin/install-rhel.sh
!bin/install-centos.sh
!bin/install.sh
!bin/install-wordpress.sh
!bin/run.sh.dist
!bin/stop.sh
!bin/stop-docker.sh.dist
!bin/run-docker.sh.dist
!bin/run_tests.sh
!bin/configure-osx.sh
!bin/configure-amazon.sh
!bin/configure-docker.sh
!bin/configure-ubuntu.sh
!bin/configure-centos.sh
!bin/configure-rhel.sh

# etc
etc/php/php.ini
etc/php/php-fpm.conf
etc/nginx/nginx.conf
etc/nginx/ssl-params.conf
etc/nginx/force-ssl.conf
etc/nginx/upstream/*
etc/nginx/server/*
etc/*.service
etc/*.conf
etc/init.d/*.sh
etc/*.plist
etc/ssl/certs/*
etc/ssl/private/*
etc/ssl/.rnd
etc/ssl/.oid
etc/ssl/openssl.cnf
etc/ssl/CA/*

!etc/com.greathouse.technology.template.plist

# opt
opt/php*/*
opt/perl*/*
opt/openresty*/*
opt/lua*/*

# cache and logs
build-event.log
error.log
varcache/
var/cache/*
var/logs/*
var/upload/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/logs/loba/.gitkeep
!var/upload/.gitkeep
!var/upload/certs/.gitkeep
!var/upload/private/.gitkeep

# tmp
tmp/
!tmp/.gitkeep

# vendor
vendor/

# src
src/jesse-greathouse/loba/lib/c/*.o
src/jesse-greathouse/loba/lib/c/*.so

# node
node_modules/

# supervisord
supervisord.log
supervisord.pid

# web
web/loba/dist
web/loba/tmp
web/loba/out-tsc
# Only exists if Bazel was run
web/loba/bazel-out

# dependencies
web/loba/node_modules/

# profiling files
web/loba/chrome-profiler-events*.json
web/loba/speed-measure-plugin*.json

# misc
web/loba/.sass-cache
web/loba/connect.lock
web/loba/coverage
web/loba/libpeerconnection.log
web/loba/npm-debug.log
web/loba/yarn-error.log
web/loba/testem.log
web/loba/typings