<mat-toolbar id="top-toolbar">
    <div id="logo-container">
        <img class="logo-image"
            alt="Loba Logo"
            src="/assets/loba-logo.png"
        />
        <div class="logo-text" >Loba</div>
    </div>

    <div *ngIf="!isLoggedIn" id="middle-menu-container"></div>

    <div *ngIf="isLoggedIn" id="middle-menu-container">
        <button mat-button [matMenuTriggerFor]="opMenu" >Operations</button>
        <mat-menu #opMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="commit()" >Commit New Changes</button>
            <button mat-menu-item (click)="test()" >Test Configs</button>
            <button mat-menu-item (click)="reload()" >Reload Nginx</button>
        </mat-menu>

        <span *ngIf="isAdmin">
            <button mat-button [matMenuTriggerFor]="adminMenu" >Admin</button>
            <mat-menu #adminMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="goUserAdmin()" >Users and Roles</button>
            </mat-menu>
        </span>
    </div>

    <nav>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goHome()">
                <mat-icon>info</mat-icon>
                <span> <a routerLink="">About</a></span>
            </button>
            <button *ngIf="isLoggedIn" mat-menu-item (click)="goLogout()">
                <mat-icon>info</mat-icon>
                <span> <a routerLink="">Log Out</a></span>
            </button>
            <button *ngIf="!isLoggedIn" mat-menu-item (click)="goLogin()">
                <mat-icon>person</mat-icon>
                <span> <a routerLink="/login">Log In</a></span>
            </button>
        </mat-menu>
    </nav>
</mat-toolbar>
