* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app {
  height:100%;
  display:flex;
  flex-direction:column;
}

input {
  margin: 0;
}

button {
  margin: 0;
}

:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.spacer {
  flex: 1;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-small {
  box-sizing : border-box;
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

/* style for elements placed by router-outlet */
#router-outlet + * {
  width: 100%;
  height: 100%;
}

.text-muted {
  color: #6c757d !important;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

.mat-snack-bar-container.info-snackbar {
  color: rgba(255, 255, 255, 0.7);
  background-color: #323232;
}

.mat-snack-bar-container.warning-snackbar {
  color: rgba(255, 255, 255, 0.7);
  background-color: #494429
}

.mat-snack-bar-container.danger-snackbar {
  color: rgba(255, 255, 255, 0.7);
  background-color: #4e3030
}

.mat-snack-bar-container.success-snackbar {
  color: rgba(255, 255, 255, 0.7);
  background-color: #243624
}
