#container {
  display: flex;
  padding: 20px 20px 20px 20px;
  flex-grow: 1;
}

/* The sidebar menu */
#sidenav {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  width: 240px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  border: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Structural frame element of layout */
#content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

#sidenav::-webkit-scrollbar {
  width: 5px;
}

#sidenav::-webkit-scrollbar * {
  background:transparent;
}

#sidenav::-webkit-scrollbar-thumb {
  background:rgba(155, 155, 155, 0.336) !important;
}

#sidenav::-webkit-scrollbar-track {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) repeat-y !important;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) repeat-y !important;
}

#sidenav:focus {
  outline:none;
}

#content-container {
  width: 100%;
}

#spinner-wrapper {
  display: flex;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

::ng-deep .mat-drawer {
  background-color: transparent;
}

@media screen and (max-height: 450px) {
  #sidenav {padding-top: 15px;}
  #sidenav a {font-size: 18px;}
}