<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div id="container">
  <!-- Side Navigation -->
  <mat-sidenav *ngIf="isLoggedIn" mode="side" opened id="sidenav">
    <app-sites [refresh]="refresh"></app-sites>
  </mat-sidenav>

  <!-- Main Panel -->
  <div id="content" role="main">
    <div *ngIf="isLoading | async" id="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    <router-outlet id="router-outlet" (activate)="onActivate($event)" ></router-outlet>

    <!-- Links -->
    <!-- TODO: links -->
    <!-- <app-links></app-links> -->
  </div>
</div>

<!-- Messages -->
<!-- TODO: Make an interacrtive panel for message log -->
<!-- <app-messages></app-messages> -->

<!-- Footer -->
<app-footer></app-footer>