<form [formGroup]="certificateForm" (ngSubmit)="submit()">
  <button mat-button color="warn" (click)="onCertificateClick()">
    <mat-icon>file_upload</mat-icon>
    Certificate File
  </button>

  <button mat-button color="warn" (click)="onKeyClick()">
    <mat-icon>file_upload</mat-icon>
    Key File
  </button>

  <input
      formControlName="certificate"
      id="certificate"
      type="file"
      class="form-control"
      (change)="onCertificateChange($event)">
  <div *ngIf="f.certificate.touched && f.certificate.invalid" class="alert alert-danger">
      <div *ngIf="f.certificate.errors.required">Certificate File is required.</div>
  </div>

  <input
      formControlName="key"
      id="key"
      type="file"
      class="form-control"
      (change)="onKeyChange($event)">
  <div *ngIf="f.key.touched && f.key.invalid" class="alert alert-danger">
      <div *ngIf="f.key.errors.required">Key File is required.</div>
  </div>

        
  <button class="btn btn-primary" type="submit">Submit</button>