<mat-form-field id="new-site" >
  <mat-label>New Site</mat-label>
  <input matInput type="text" #domain placeholder="www.mysite.com" >
  <button mat-button *ngIf="domain" matSuffix mat-icon-button aria-label="Create" (click)="add(domain.value); domain.value=''" >
    <mat-icon>add_box</mat-icon>
  </button>
</mat-form-field>

<ul id="sites">
  <li *ngFor="let site of sites" >
    <a  [ngxFitText] 
        [ngxFitTextMin]="16"
        [ngxFitTextMax]="20"
        class="card card-small" 
        routerLink="/site/{{site.domain}}" >
      {{site.domain | slice : 0 : 24 }} 
    </a>
  </li>
</ul>
