<div
  *ngIf="site"
  id="site-detail"
  [ngClass]="{'hide': isLoading}" >

  <form id="site-form" >
    <mat-form-field class="field">
      <mat-label>Domain</mat-label>
      <input matInput placeholder="www.mysite.com" [(ngModel)]="site.domain" (focusout)="focusOut()"  name="domain">
    </mat-form-field>

    <button aria-label="Remove Site"
      mat-mini-fab 
      (click)="removeConfirm()" >
      <mat-icon>close</mat-icon>
    </button>

    <app-upstream [site]="site"></app-upstream>
  </form>
</div>
